<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ui-sref="app.person.list">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="product-image" hide-xs>
                    <img ng-src="{{form.product.images[0].url}}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{form.form.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhe da Pessoa</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="form.save()"
                       ng-disabled="!form.isFormValid('formPerson')">
                <span >Salvar</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Basic Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="formPerson" name="formPerson">
                            <md-input-container class="md-block">
                                <label>Nome</label>
                                <input type="text" ng-model="form.form.name" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-checkbox ng-model="form.form.is_customer" aria-label="Cliente?">
                                    Cliente?
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-checkbox ng-model="form.form.is_supplier" aria-label="Fornecedor?">
                                    Fornecedor?
                                </md-checkbox>
                            </md-input-container>

                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>